*~
linuxcnc/configs/koppi-cnc/core
linuxcnc/configs/koppi-cnc/koppi-cnc-pos.txt
linuxcnc/configs/koppi-cnc/koppi-cnc.var
linuxcnc/configs/koppi-cnc/koppi-cnc.var.bak
linuxcnc/configs/koppi-cnc/koppi-cnc-history.txt
linuxcnc/configs/koppi-cnc/koppi-cnc-tool.txt.bak
linuxcnc/configs/koppi-cnc/xdot.pyc
linuxcnc/nc_files/tmpgcmc*
linuxcnc/nc_files/*.auto.ngc
linuxcnc/nc_files/00.ngc
linuxcnc/configs/ARM/
linuxcnc/configs/apps/
linuxcnc/configs/attic/
linuxcnc/configs/by_interface/
linuxcnc/configs/by_machine/
linuxcnc/configs/common/
linuxcnc/configs/hm2-stepper/
linuxcnc/configs/maintainer.txt
linuxcnc/configs/nc_files
linuxcnc/configs/pru-examples/
linuxcnc/configs/sim/
linuxcnc/configs/stepper/
