linuxcnc/configs/koppi-cnc/core
linuxcnc/configs/koppi-cnc/koppi-cnc-pos.txt
linuxcnc/configs/koppi-cnc/koppi-cnc.var
linuxcnc/configs/koppi-cnc/koppi-cnc.var.bak
linuxcnc/configs/koppi-cnc/koppi-cnc-history.txt
linuxcnc/configs/koppi-cnc/koppi-cnc-tool.txt.bak
linuxcnc/nc_files/tmpgcmc*
linuxcnc/nc_files/1.auto.ngc