#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Name=Launch koppi-cnc
Exec=linuxcnc /home/cx9020/linuxcnc/configs/koppi-cnc-210/koppi-cnc.ini
Type=Application
Comment=Desktop Launcher for koppi-cnc
Icon=/usr/share/linuxcnc/linuxcncicon.png
Name[en_US]=koppi-cnc
